@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Raleway:wght@200;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    cursor: default;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 200;
    font-size: 2rem;
    background: rgb(120,120,201);
    background: linear-gradient(180deg, rgba(120,120,201,1) 8%, rgba(205,204,218,1) 21%, rgba(205,204,218,1) 100%);
}

.body-about {
    cursor: default;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 200;
    font-size: 2rem;
    background: rgb(120,120,201);
    background: linear-gradient(180deg, rgba(120,120,201,1) 8%, rgba(205,204,218,1) 83%, rgba(205,204,218,1) 100%);
}

#myBtn {
    display: none;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gainsboro;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    padding: 0 1.1rem .3rem 1.2rem;
    font-size: 2.5rem;
    transform: rotate(-90deg);
    transition: all .5s ease-in-out;
  }
  
  #myBtn:hover {
    background-color: rgb(182, 182, 182); /* Add a dark-grey background on hover */
  }

.content-about > p {
    margin-bottom: 5rem;
}

.about-container {
    background-color: white;
    margin: 10vh;
    grid-column: 2 / span 2;
    border-radius: 1rem;
    min-height: 70vh;
}

.infos-person {
    margin: 1.2vh;
    grid-column: 4 / span 1;
    color: white;
    font-weight: 600;
}

.infos-person > img {
    margin: 5rem 0 2rem 0;
    grid-column: 4 / span 1;
    border-radius: 1rem;
    font-weight: 600;
}

#email, #tel {
    margin-left: 1.8rem;
}


#logo-whatsapp {
    position: absolute;
    width: 12rem;
    margin: 1rem 0 0 -.8rem;
    transition: all .2s ease-in;
}

#logo-whatsapp:hover {
    width: 13rem;
}

#logo-linkedin {
    position: absolute;
    width: 10rem;
    margin: 2rem 0 0 11.5rem;
    transition: width .2s ease-in;
}

#logo-linkedin:hover {
    width: 11rem;
}

.infos-person > a, .infos-person > p {
    font-weight: 600;
    transition: color .2s ease;
    margin: 1rem;
    transition: all .2s ease-in;
}

.infos-person > a:hover {
    letter-spacing: 0px;
    font-size: 2.1rem;
}

.content-about {
    padding: 3rem 6rem 0 3rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: justify;
}

.heading-about {
    margin-bottom: .5rem;
    color: rgba(120,120,201,1);
    text-shadow: 2px 3px rgba(0, 0, 0, .2);
}

header{
    width: 100%;
    height: 10vh;

    display: grid;

    grid-template-columns: 50px 1fr 1fr 1fr 50px; /* andere Möglichkeit: repeat(3, 1fr); */
    grid-template-rows: 1fr;

    gap: 10px;

    padding: 15px 0 0 0;
    box-sizing: border-box;    
}

.header-logo {
    grid-column: 3 / span 1;
    font-size: 2.5rem;
    font-weight: 100;
    color: #fff;
    letter-spacing: 10px;
    font-family: 'Noto Serif Display', serif;
    text-align: center;
}

.header-logo > a:hover {
    letter-spacing: 10px;
    font-weight: 300;
    font-size: 2.5rem;
}

.header-about {
    grid-column: 1 / span 2;
    margin: 15px 300px 0 30px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.welcome-screen {
    width: 100%;

    display: grid;

    grid-template-columns: 3rem 1fr 1fr 1fr 3rem; /* andere Möglichkeit: repeat(3, 1fr); */
    /*grid-template-rows: 90vh;*/

    box-sizing: border-box;
}

.container div {
    padding: 10px;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in;
    font-weight: 200;
}

a:hover {
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 5px;
}

a.external-link {
    font-weight: 600;
    color: rgba(120,120,201,1);
}

a.external-link:hover {
    font-size: 2rem;
    letter-spacing: .1rem;
}

#start-popup {
    width: 100%;
    height: 100%;
    background: #0008;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

#pop-up {
    text-align: center;
    display: flex;
    width: 1000px;
    height: 400px;
    background: whitesmoke;
    box-sizing: border-box;
    padding:inherit 20px;
    color: #161925;
    border-radius: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 11;
}

.popup-header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 50px;
    padding: 50px 0 50px 50px;
}

.popup-close {
    font-size: 3rem;
    border: none;
    background: none;
    color: #161925;
    margin: 1rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: transform .2s ease-in-out;
}

.popup-close:hover {
    color: crimson;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pop-up, #popup-text {
    padding: 10px 100px 30px 100px;
    margin-top: 5rem;
    text-align: justify;
}

.text-big {
    font-size: 10rem;
    font-weight: 700;
}

.text-small {
    font-size: 3rem;
}

.content-header {
    font-size: 7rem;
    margin: 6rem 0 0 38.5rem;
}

.content-header-wh {
    color: white;
    font-size: 7rem;
    margin: 4rem 0 0 27rem;
}

.hello-there {
    grid-column: 2 / span 3;
    color: white;
    font-weight: bold;
    font-size: 5rem;
    min-height: 90vh;
}

#ht1 {
    position: absolute;
    top: 18rem;
    left: 25rem;
}
#ht2 {
    position: absolute;
    top: 28rem;
    left: 25.4rem;
}
#ht3 {
    position: absolute;
    top: 19rem;
    left: 39rem;
}
#ht4 {
    position: absolute;
    top: 24.5rem;
    left: 39rem;
}
#ht5 {
    position: absolute;
    top: 27rem;
    left: 61.5rem;
}
#ht6 {
    position: absolute;
    top: 9.5rem;
    left: 54rem;
}
#ht7 {
    position: absolute;
    top: 33rem;
    left: 15rem;
}
#ht8 {
    position: absolute;
    top: 13rem;
    left: 15rem;
}
#ht9 {
    position: absolute;
    top: 37rem;
    left: 20rem;
}

.line-vert {
    width: 3.5rem;
    height: 4rem;
    border-right: 2px solid rgba(120,120,201,1);
    position: absolute;
    bottom: 0;
    left: 0;
}

.line-hor {
    width: 64rem;
    height: 5px;
    border-top: 2px solid rgba(120,120,201,1);
    margin: 2rem 0 2rem 0;
}

#scroll-to-projects {
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(120,120,201,1);
}

.projects {
    width: 100%;
    min-height: 100vh;

    display: grid;

    grid-template-columns: 3rem 1fr 1fr 1fr 3rem; /* andere Möglichkeit: repeat(3, 1fr); */
    grid-template-rows: 109rem 75rem 100rem;

    box-sizing: border-box;
}

.content-gis {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    background: white;
}

.content3d {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    background: rgb(120,120,201);
}

.img-round-l {
    margin: 3rem 0 0 0;
    position: absolute;
    left: -5rem;
}

.img-round-r {
    margin: 3rem 0 0 0;
    position: absolute;
    right: 0rem;
    top: 110rem;
}

.content-java {
    padding: 5rem 0 0 5rem;
    position: absolute;
    left: 35rem;
    font-weight: 600;
}

.content-htmlcssjs {
    padding: 5rem 0 0 5rem;
    position: absolute;
    top: 105rem;
    left: 10rem;
    font-weight: 600;
}

.text-3d {
    position: absolute;
    left: 21rem;
    top: 227rem;
    font-weight: 600;
    color: white;
}

.content-ux {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    background-color: white;
}

.img-uxlogo {
    width: 25rem;
    border-radius: 50%;
    position: absolute;
    top: 267rem;
    right: 10rem;
}

.text-container-l {
    margin: 5rem 0 0 20rem;
    font-weight: 600;
    width: 55rem;
}

.text-container-r {
    margin: 10rem 0 0 58rem;
    width: 50rem;
    font-weight: 600;
}

.text-container-l > .line-hor {
    width: 55rem;
    border-top: 2px solid #2FBC71;
}

.text-container-r > .line-hor {
    width: 47rem;
    border-top: 2px solid #2FBC71;
}

.content-ux > .line-hor {
    margin-left: 20rem;
    width: 85rem;
    border-top: 2px solid #2FBC71;
}

.img-iphone {
    position: absolute;
    margin-left: 20rem;
    width: 30rem; 
}

.tobecontinued {
    color: white;
    font-size: 5.5rem;
    margin: 13rem 0 0 58rem;
}

/* //////////////////////////////// */

.carousel {
    margin-top: 5rem;
    width: 99rem;
    height: 40rem;
    position: absolute;
    left: 8rem;

  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 14rem;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img, video{
    display: block;
    width: 70rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 1.5rem .5rem 1.3rem;
    transition: all .2s ease;
  }
  
  
  .carousel-button:hover {
    color: white;
    font-size: 5rem;
  }  

  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }

