@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Raleway:wght@200;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    cursor: default;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 200;
    font-size: 1.8vw;
    background: rgb(120,120,201);
    /*background: linear-gradient(180deg, rgba(120,120,201,1) 8%, rgba(205,204,218,1) 21%, rgba(205,204,218,1) 100%);*/
}

.body-about {
    cursor: default;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 200;
    font-size: 2rem;
    background: rgb(120,120,201);
    background: linear-gradient(180deg, rgba(120,120,201,1) 8%, rgba(205,204,218,1) 83%, rgba(205,204,218,1) 100%);
}

#myBtn {
    display: none;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gainsboro;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    padding: 0 1.1rem .3rem 1.2rem;
    font-size: 2.5rem;
    transform: rotate(-90deg);
    transition: all .5s ease-in-out;
  }
  
  #myBtn:hover {
    background-color: rgb(182, 182, 182); /* Add a dark-grey background on hover */
  }

.content-about > p {
    margin-bottom: 5rem;
}

.about-container {
    background-color: white;
    margin: 10vh;
    grid-column: 2 / span 2;
    border-radius: 1rem;
    min-height: 70vh;
}

.infos-person {
    margin: 1.2vh;
    grid-column: 4 / span 1;
    color: white;
    font-weight: 600;
}

.infos-person > img {
    margin: 5rem 0 2rem 0;
    grid-column: 4 / span 1;
    border-radius: 1rem;
    font-weight: 600;
}

#email, #tel {
    margin-left: 1.8rem;
}


#logo-whatsapp {
    position: absolute;
    width: 12rem;
    margin: 1rem 0 0 -.8rem;
    transition: all .2s ease-in;
}

#logo-whatsapp:hover {
    width: 13rem;
}

#logo-linkedin {
    position: absolute;
    width: 10rem;
    margin: 2rem 0 0 11.5rem;
    transition: width .2s ease-in;
}

#logo-linkedin:hover {
    width: 11rem;
}

.infos-person > a, .infos-person > p {
    font-weight: 600;
    transition: color .2s ease;
    margin: 1rem;
    transition: all .2s ease-in;
}

.infos-person > a:hover {
    letter-spacing: 0px;
    font-size: 2.1rem;
}

.content-about {
    padding: 3rem 6rem 0 3rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: justify;
}

.heading-about {
    margin-bottom: .5rem;
    color: rgba(120,120,201,1);
    text-shadow: 2px 3px rgba(0, 0, 0, .2);
}

header{
    width: 100%;
    height: 10vh;

    display: grid;

    grid-template-columns: 50px 1fr 1fr 1fr 50px; /* andere Möglichkeit: repeat(3, 1fr); */
    grid-template-rows: 1fr;

    gap: 10px;

    padding: 15px 0 0 0;
    box-sizing: border-box;    
}

.header-logo {
    grid-column: 3 / span 1;
    font-size: 2.5vw;
    color: #fff;
    letter-spacing: .5vw;
    font-family: 'Noto Serif Display', serif;
    text-align: center;
}

.header-logo > a:hover {
    letter-spacing: .5vw;
    font-size: 2.5vw;
    font-weight: 300;
}

.header-about {
    grid-column: 1 / span 2;
    margin: 2vh 12vw 0 0;
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}

.welcome-screen {
    width: 100%;

    display: grid;

    grid-template-columns: 3vw 1fr 1fr 1fr 3vw; /* andere Möglichkeit: repeat(3, 1fr); */
    grid-template-rows: 90vh;

    box-sizing: border-box;

    background: rgb(120,120,201);
    background: linear-gradient(180deg, rgba(120,120,201,1) 0%, rgba(205,204,218,1) 100%, rgba(0,212,255,1) 100%);
}

.container div {
    padding: 10px;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in;
    font-weight: 200;
}

a:hover {
    font-weight: 600;
    font-size: 110%;
    letter-spacing: .4vw;
}

a.external-link {
    font-weight: 600;
    color: rgba(120,120,201,1);
}

a.external-link:hover {
    font-size: 105%;
    letter-spacing: .1rem;
}

#start-popup {
    width: 100%;
    height: 100%;
    background: #0008;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

#pop-up {
    text-align: center;
    display: flex;
    width: 60vw;
    height: 40vh;
    background: whitesmoke;
    box-sizing: border-box;
    padding:inherit 20px;
    color: #161925;
    border-radius: 2vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 11;
}

.popup-header {
    align-self: center;
    margin: 0 0 3vh 3vw;
}

.popup-close {
    font-size: 4vw;
    border: none;
    background: none;
    color: #161925;
    cursor: pointer;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: transform .2s ease-in-out;
    margin-bottom: 3vh;
}

.popup-close:hover {
    color: crimson;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pop-up, #popup-text {
    margin: 5vh 10vh 5vh 10vh;
    text-align: justify;
    align-self: center;
}

#myHeader {
    background-color: rgba(120,120,201,1);
}

.text-big {
    font-size: 9vw;
    font-weight: 700;
}

.text-small {
    font-size: 2.5vw;
}

.content-header {
    font-size: 6vw;
    margin: 6vh 0 0 30vw;
}

.content-header-wh {
    color: white;
    font-size: 6vw;
    text-align: center;
    margin-top: 7vh;
}

.hello-there {
    max-width: 90vw; 
    grid-column: 2 / span 3;
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    /*min-height: 90vh;*/
}

#ht1 {
    position: absolute;
    top: 32vh;
    left: 20vw;
}
#ht2 {
    position: absolute;
    top: 51vh;
    left: 20.4vw;
}
#ht3 {
    position: absolute;
    top: 34.8vh;
    left: 32.5vw;
}
#ht4 {
    position: absolute;
    top: 44.7vh;
    left: 32.5vw;
}
#ht5 {
    position: absolute;
    top: 50vh;
    left: 52vw;
}
#ht6 {
    position: absolute;
    top: 17vh;
    left: 45vw;
}
#ht7 {
    position: absolute;
    top: 59vh;
    left: 12vw;
}
#ht8 {
    position: absolute;
    top: 23vh;
    left: 11vw;
}
#ht9 {
    position: absolute;
    top: 66vh;
    left: 16vw;
}

.line-vert {
    width: 5vw;
    height: 10vh;
    border-right: 2px solid rgba(120,120,201,1);
    position: absolute;
    bottom: 0;
    left: 0;
}

.line-hor {
    width: 55vw;
    height: 1vh;
    border-top: 2px solid rgba(120,120,201,1);
    margin: 3vh 0 3vh 0;
}

#scroll-to-projects {
    position: absolute;
    left: 6vw;
    bottom: 5vh;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgba(120,120,201,1);
}

.projects {
    width: 100%;
    min-height: 100vh;

    display: grid;

    grid-template-columns: 3vw 1fr 1fr 1fr 3vw; /* andere Möglichkeit: repeat(3, 1fr); */
    grid-template-rows: 100vw 70vw 90vw;

    box-sizing: border-box;
}

.content-gis {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    background: white;
}

.content3d {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    background: rgb(120,120,201);
}

.img-round-l {
    position: absolute;
    left: -5rem;
    width: 35vw;
}

.img-round-r {
    position: absolute;
    top: 200vh;
    width: 30vw;
    right: 0;
}

.content-java {
    padding: 5rem 0 0 5rem;
    position: absolute;
    left: 30vw;
    font-weight: 600;
}

.content-htmlcssjs {
    position: absolute;
    top: 200vh;
    left: 10vw;
    font-weight: 600;
}

.text-3d {
    position: absolute;
    left: 17vw;
    top: 205vw;
    font-weight: 600;
    color: white;
}

.content-ux {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    background-color: white;
}

.img-uxlogo {
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    top: 230vw;
    right: 7vw;
}

.text-container-l {
    margin: 5vw 0 0 15vw;
    font-weight: 600;
    width: 55vw;
}

.text-container-r {
    margin: 10vw 0 0 50vw;
    width: 40vw;
    font-weight: 600;
}

.text-container-l > .line-hor {
    width: 50vw;
    border-top: 2px solid #2FBC71;
}

.text-container-r > .line-hor {
    width: 42vw;
    border-top: 2px solid #2FBC71;
}

.content-ux > .line-hor {
    margin-left: 15vw;
    width: 76vw;
    border-top: 2px solid #2FBC71;
}

.img-iphone {
    position: absolute;
    margin-left: 15vw;
    width: 30vw; 
}

.tobecontinued {
    color: white;
    font-size: 5vw;
    margin: 13vw 0 0 50vw;
}

/* //////////////////////////////// */

#photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / span 3;
    height: 60vh;
}

.carousel {
    top: 165vw;
    width: 80vw;
    position: absolute;
    height: 75vh;
    overflow: hidden;

  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 8vw;
    height: 40vw;
  }
  
  .slide {
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    overflow: hidden;
  }
  
  .slide > img, video{
    display: block;
    width: 62vw;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 5vw;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    transition: all .2s ease;
  }
  
  
  .carousel-button:hover {
    color: white;
    font-size: 5rem;
  }  

  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }

